$in:                ease-in
$out:               ease-out
$in-out:            ease-in-out
$snap:              cubic-bezier(0,1,.5,1)
$linear:            cubic-bezier(0.250, 0.250, 0.750, 0.750)
$ease-in-quad:      cubic-bezier(0.550, 0.085, 0.680, 0.530)
$ease-in-cubic:     cubic-bezier(0.550, 0.055, 0.675, 0.190)
$ease-in-quart:     cubic-bezier(0.895, 0.030, 0.685, 0.220)
$ease-in-quint:     cubic-bezier(0.755, 0.050, 0.855, 0.060)
$ease-in-sine:      cubic-bezier(0.470, 0.000, 0.745, 0.715)
$ease-in-expo:      cubic-bezier(0.950, 0.050, 0.795, 0.035)
$ease-in-circ:      cubic-bezier(0.600, 0.040, 0.980, 0.335)
$ease-in-back:      cubic-bezier(0.600, -0.280, 0.735, 0.045)
$ease-out-quad:     cubic-bezier(0.250, 0.460, 0.450, 0.940)
$ease-out-cubic:    cubic-bezier(0.215, 0.610, 0.355, 1.000)
$ease-out-quart:    cubic-bezier(0.165, 0.840, 0.440, 1.000)
$ease-out-quint:    cubic-bezier(0.230, 1.000, 0.320, 1.000)
$ease-out-sine:     cubic-bezier(0.390, 0.575, 0.565, 1.000)
$ease-out-expo:     cubic-bezier(0.190, 1.000, 0.220, 1.000)
$ease-out-circ:     cubic-bezier(0.075, 0.820, 0.165, 1.000)
$ease-out-back:     cubic-bezier(0.175, 0.885, 0.320, 1.275)
$ease-out-quad:     cubic-bezier(0.455, 0.030, 0.515, 0.955)
$ease-out-cubic:    cubic-bezier(0.645, 0.045, 0.355, 1.000)
$ease-in-out-quart: cubic-bezier(0.770, 0.000, 0.175, 1.000)
$ease-in-out-quint: cubic-bezier(0.860, 0.000, 0.070, 1.000)
$ease-in-out-sine:  cubic-bezier(0.445, 0.050, 0.550, 0.950)
$ease-in-out-expo:  cubic-bezier(1.000, 0.000, 0.000, 1.000)
$ease-in-out-circ:  cubic-bezier(0.785, 0.135, 0.150, 0.860)
$ease-in-out-back:  cubic-bezier(0.680, -0.550, 0.265, 1.550)


$scale: 1
$unit: 4px

=clearfix
  *zoom: 1

  &:after,
  &:before
    content: ' '
    display: table

  &:after
    clear: both

*,
*:before,
*:after
  box-sizing: border-box

body
  background-color: #222
  color: #fff
  padding: 4 * $unit

ul
  list-style-type: none
  margin: 0
  padding: 0

li.placeholder
  background: rgb(255,240,120)

li.placeholder:before
  content: "Drop here"
  color: rgb(225,210,90)

.DeckList
  +clearfix
  white-space: nowrap

  .DeckList-Item
    display: inline-block
    vertical-align: top
    -webkit-user-select: none
    user-select: none
    width: 250px * $scale

    + .DeckList-Item
      margin-left: 8px

.CardList
  outline: 1px dotted #666
  padding: $unit

  .CardList-Item
    cursor: pointer
    height: 9 * $unit * $scale
    padding: 0
    -webkit-user-select: none
    user-select: none

    &:last-child
      height: auto

.Card
  border-radius: 2 * $unit * $scale
  cursor: pointer
  transform: scale(1)
  height: 100%
  position: relative
  transition: 0.25s transform $ease-in-out-quint
  -webkit-user-select: none
  user-select: none
  white-space: normal
  z-index: 1

  > img
    border-radius: 2 * $unit * $scale
    box-shadow: 0 0 0 rgba(royalblue, 1)
    display: block
    pointer-events: none
    transition: .1s all $in-out
    -webkit-user-select: none
    user-select: none
    width: 100%

.Card:hover
  z-index: 10

  > img
    box-shadow: 0 0 5px 2px rgba(royalblue, 1)

.Card--zoom
  transform: scale(1.5)

pre
  color: #ccc
